nav li{
    margin-top: -26.75%;
}

main{
    font-family: Arial, serif;
}

section{
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid red;
    padding: 10px;
    margin-top: 2.5%;
}


