header {
    background-color: cornflowerblue;
    height: 95px;
    position: relative;
    top: 1px;
    border: 2px solid black;
    width: 85%;
    left: 3%;
}

#title{
    color: blueviolet;
    font-family: Arial, serif;
    padding-top: 23px;
    padding-left: 33%;
}

nav ol {
    position: relative;
    list-style-type: none;
    margin-left: 5%;
    display: flex;
}
nav li {
    float: right;
    margin-left: -2px;
    margin-right: 10px;
    margin-top: -5%;
    border: solid 1px;
    background-color: cyan;
    width: 130px;
    height: 25px;
    font-size: 20px;
    padding: 7px;
    padding-top: -10px;
    font-family: Arial, serif;
}

nav a:hover, a:active {
    background-color: green;
}
@media screen and ( max-width: 1200px ) {
    nav {
        display:flex;
        float: right;
        margin-right: 18%;
        margin-top: -25%;
    }
    nav ul {
        position: relative;
        list-style-type: none;
    }
    nav li {
        float: right;
        border: none;
        background-color: darkseagreen;
        font-size: 12px;
        width: 100px;
        height: 15px;
        padding: 5px;
    }
}

#results{
    background-color: bisque;
    margin-top: 0.75%;
    border: solid 2px;
    height: 35px;
    margin-left: 35%;
    font-family: Arial, serif;
    width: 47%;
    padding-top: 15px;
    padding-left: 15px;
    position: fixed;
}

#select{
    background-color: yellow;
    font-family: Arial, serif;
    margin-left: 3.5%;
    height: 125px;
    width: 26%;
    margin-top: 0.75%;
    border: solid 2px;
    padding-top: 18px;
    padding-left: 15px;
    position: fixed;
}

#ddtitle{
    font-family: Arial, serif;
    position: relative;
    font-size: small;
    margin-top: 3.75%;
    margin-left: 4.75%;
    padding: 0px;
}

#mySelect{
    font-family: Arial, serif;
    position: fixed;
    margin-left: 5%;
    margin-top: 3%;
}

#sellout{
    margin-top: -4.25%;
}

#allChars{
    margin-left: 43px;
}

#charInfo{
    position: fixed;
    margin-top: 5%;
    margin-left: 4.5%;
    float: left;
}

table.charDetails{
    background-color: bisque;
    border: 1px solid brown;
    border-collapse: collapse;
    font-family: Arial, serif;
    width: 50%;
    height: 200px;
    margin-left: 35%;
    position: relative;
    counter-reset: css-counter 0;
    margin-top: -7%;
}

th, td, tr{
    border: 1px solid brown;
}

#charCard, #charCard2{
    width: 100%;
}

#weak2{
    list-style-type: decimal;
}

@media screen and (max-width: 1200px){
    #select{
        width: 75%;
        display: block;
    }
    #results{
        display: block;
        width: 40%;
        margin-top: 20%;
        margin-left: 3%;
    }
    #ddtitle{
        position: fixed;
        margin-left: 5%;
        margin-top: -14%;
    }
    #sellout{
        position: fixed;
        margin-left: 0.75%;
        margin-top: -15.5%;
    }
    #charInfo{
        position: fixed;
        margin-left: 5%;
        margin-top: -10%;
    }
    table.charDetails{
        margin-top: 20.25%;
        width: 50%;
        margin-left: 3%;
        font-size: small;
    }
}

